# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash log files
crash.log

# Ignore Terraform variable files
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform plan files
*.tfplan

# Ignore .terraform directory
.terraform/
.terraform.lock.hcl

# Ignore sensitive files
secrets.auto.tfvars

# Ignore Visual Studio Code settings
.vscode/
.history/